body {
	font-size: 20px;
	color: teal;
	font-family: Calibri;
	background-color: #303030;
	margin: 0px;
}

td {
	font-size: 15px;
	color: white;
	/* width: 100px; */
	height: 22px;
	text-align: center;
	
	/* http://stackoverflow.com/questions/4062001/css3-border-opacity */
	border-left: 1px solid rgba(128, 128, 128, 0.3);
	border-top: 1px solid rgba(255, 165, 0, 0.3);
	/* border-right: 1px solid rgba(128, 128, 128, 0.5);
	border-bottom: 1px solid rgba(255, 165, 0, 0.5); */
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

#header {
	/* width: 950px; */
	height: 335px;
	display: block;
	background: #131313 url("gl_logo.png") no-repeat center;
	position:relative;
	/* z-index:9; */
}
#header:before {
	content: "";
	position:absolute;
	z-index:-1;
	top:0;
	right:0;
	bottom:60%;
	background-color: red;
}

.heading {
	font-size: 18px;
	color: #8dc63f !important;
	font: bold;
}

.bold 
{
	font-weight:bold;
}

.minor-text
{
	color:gray;
}

table {
	max-width: 950px;
	border-collapse: collapse;
	background-color: #1d1d1d;
}

table, th, td {
	/* border: 1px solid black; */
}

table thead tr:first-child td
{
	border-top: none;
}

table tr td:first-child
{
	border-left: none;
}

table tr td:last-child
{
	border-right: none;
}

table tbody tr:last-child td
{
	border-bottom: none;
}

table a
{
	color: white;
	text-decoration: none;
}

table a.disabled
{
	background-color: gray;
	cursor: not-allowed;
}

#dialog table
{
	width:auto;
	border: none;
	min-width: 500px;
	min-height: 150px;
}
#dialog form, #dialog table, div#dialog
{
	background-color: #3b3b3b;
}

#dialog #addUserTable label
{
	vertical-align: super;
}

#dialog td
{
	border: none;
}

#dialog td:nth-child(1)
{
	text-align: right;
}

#dialog td[colspan="2"]
{
	text-align: center;
}

#dialog select, #dialog input, #devicesViewWrapper input[type=submit]
{
	min-width: 200px;
}

#dialog input[type="radio"]
{
	min-width: 0px;
}

#dialog li
{
	text-align: left;
	color: Black;
	list-style-type: none;
	margin-right: 20px;
}

#dialog li:first-child
{
	margin-top: 20px;
}

#dialog .chosen-drop .group-result
{
	color: black;
}

#dialog .chosen-drop .group-option
{
	color: white;
}

input, textarea, select, #tfnewsearch, .chosen-single {
  background-color : #515151; 
  border: 0;
  padding: 0;
  color:#fff !important;
}

#tfnewsearch
{
	display:table; 
}

#dialog input, #dialog select, #devicesViewWrapper input[type=submit]
{
	height: 25px;
	margin-top: 5px;
}

#dialog input[type=submit], #devicesViewWrapper input[type=submit]
{
	background-color: #8dc63f;
	margin-bottom: 20px;
	margin-bottom: 10px;
}

.ui-icon-closethick
{
	border: 1px gray solid;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	border-radius: 50%;
	width:17px;
	height:17px;
}

.ui-dialog-titlebar-close
{
	background: none !important;
	border: none !important;
}

.button {
	cursor: pointer;	
	border-top: 1px solid #96d1f8;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d),
		to(#65a9d7));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	padding: 3px 7px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: white;
	font-size: 11px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
}

.newButton
{
	cursor: pointer;	
	padding: 3px 7px;
	background-color: #8dc63f;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: #131313;
	font-size: 11px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 5px;
}

.button:hover {
	border-top-color: #28597a;
	background: #28597a;
	color: #ccc;
}

.button:active {
	border-top-color: #1b435e;
	background: #1b435e;
}

#main_table {
	display: block;
}

#main_table thead tr td:nth-child(1) { width: 155px; }
#main_table thead tr td:nth-child(2) { width: 100px; }
#main_table thead tr td:nth-child(3) { width: 140px; }
#main_table thead tr td:nth-child(4) { width: 100px; }
#main_table thead tr td:nth-child(5) { width: 80px; }
#main_table thead tr td:nth-child(6) { width: 105px; }
#main_table thead tr td:nth-child(7) { width: 105px; }
#main_table thead tr td:nth-child(8) { width: 80px; }
#main_table thead tr td:nth-child(9) { width: 85px; }

#removed_devices_table {
	display: none;
}
#removed_devices_table table
{
	background-color: rgba(255, 0, 0, 0.1);
}

#nav {
	width: 950px;
	display: block;
	/* background-color: #222; */
	margin-top: -54px;
}
#footer
{
	background-color: #101010;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 40px;
	text-align: center;
}
#footer span
{
	margin: 10px 7px 0px 0px;
	/* position: fixed; */
	float: right;
	color: white;
	font-size: 14px;
}
#footer a
{
	text-align: center;
	display: inline-block;
	margin-top: 10px;
	background-color: #8dc63f;
	color:Black;
	font-family: Calibri;
	cursor: pointer;
	font-size: 11px;
	padding: 5px 20px;
}
#settings_wrapper
{
	width: 150px;
	float: right;
	height: 45px;
}
#settings {
	width: 950px; 
	/* float: right; */
}
#settings a {	
	text-decoration: none;
	color: white;
	display: block;
	/* float: right; */
	/* margin: 0px 10px 0px 10px; */
	border-right: 1px White solid;
	/* padding-right: 20px; */
	/* margin-top: 15px; */
	font-size: 14px;
	height: 45px;
	vertical-align: middle;
	line-height: 45px;
}
#settings a:first-child {	
	margin-right: 0px;
	border-right: 0px;
}

#settings a:hover {	
	color: #699;
}

#nav_wrapper {
	margin: 0 auto;
	text-align: left;
}

#nav ul, #settings_wrapper ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	min-width: 130px;
}

#nav ul li, #settings_wrapper ul li {
	display: inline-block;
	min-width: 130px;
}

#settings_wrapper ul li
{
	min-width: 150px;
}

#nav ul li:hover, #settings_wrapper ul li:hover {
	background-color: #333;
}

#nav ul li a, visited {
	color: #CCC;
	display: block;
	padding: 15px;
	text-decoration: none;
}

#nav ul li:hover ul, #settings_wrapper ul li:hover ul {
	display: block;
}

#nav ul ul, #settings_wrapper ul ul {
	display: none;
	position: absolute;
	background-color: #333;
	z-index: 1;
}

#nav ul ul li, #settings_wrapper ul ul li {
	display: block;
}

#nav ul ul li a:hover, #settings_wrapper ul ul li a:hover {
	color: #699;
}

.tftextinput {
	height: 20px;
	margin: 0;
	padding: 0px 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	/* border: 1px solid #0076a3;
	border-right: 0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px; */
	background-color: #292929;
}

.tftextinput:focus
{
	outline: 0;
}

.tfbutton {	
	width: 20px;
	height: 20px;
	margin: 0;
	outline: none;
	cursor: pointer;	
	background: url('searchicon.png') no-repeat;
	background-size: 20px 20px;	
	float:right;
}

#clearSearch
{
	padding: 0 !important;
	margin: 0;
	display: inline-block !important;
	margin-left: -15px;
	margin-top: 0px;
	color: white !important;
	font-weight: 400;
}

#tfheader
{
	display: inline-table;
}

/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
	border: 0;
}

.tfclear {
	clear: both;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	display: block;
	border-bottom: 5px solid orange;
	position: relative;
	margin-bottom: 2px;	
}

.arrow-up:HOVER {
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	display: block;
	border-bottom: 5px solid #808080;
	position: relative;
	margin-bottom: 2px;	
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	display: block;
	border-top: 5px solid orange;
	position: relative;
}

.arrow-down:HOVER {
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	display: block;
	border-top: 5px solid #808080;
	position: relative;
}

#arrows {
	display: inline-block;
	overflow: hidden;
	float: right;
	margin-top: 3px;
	margin-right: 2px;
}

.showEnabled
{
	display:none;
}
.hideEnabled
{
	display:block;
}
.optionHeader
{
	color:#8dc63f;
}
input[type=submit]:disabled
{
	background-color: LightGray !important;
	color:Gray;
}

/* limiting editing inputs and selects in main table Edit mode */
#main_table tr td input
{
	height:15px;
	padding: 3px;
	margin: 2px;
}
#main_table tr td select
{
	height: 21px;
	margin: 2px;
}
#main_table tr td:nth-child(1) input
{
	max-width: 150px;
}
#main_table tr td:nth-child(2) select
{
	max-width: 105px;
}
#main_table tr td:nth-child(3) input
{
	max-width: 100px;
}
#main_table tr td:nth-child(4) select
{
	max-width: 85px;
}
#main_table tr td:nth-child(5) input
{
	max-width: 75px;
}
#j_username, #j_password, input[name="login"]
{
	width: 250px;
	background-color: #292929;
	color: white;
	height: 30px;
	font-size: 20px;
	padding: 5px;
	box-sizing: content-box;
}
#j_username
{
	margin-top: 50px;
}
input[name="login"]
{
	background-color: #8dc63f;
}
input#j_username:-webkit-autofill,
input#j_password:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #292929 inset;
    -webkit-text-fill-color: white !important;
}

.ui-icon-scale1-5 {
  	-ms-transform: scale(1.5); /* IE 9 */
  	-webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  	transform: scale(1.5);
  	text-align: center;
}

/* styling placeholder text color */
::-webkit-input-placeholder {
   color: #4a4a4a;
}

:-moz-placeholder { /* Firefox 18- */
   color: #4a4a4a;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #4a4a4a;  
}

:-ms-input-placeholder {  
   color: #4a4a4a;  
}

/* -- DataTable -- */

table.dataTable thead .sorting {
  background: url("../resources/images/sort_both.png") no-repeat center right;
}
table.dataTable thead .sorting_asc {
  background: url("../resources/images/sort_asc.png") no-repeat center right;
}
table.dataTable thead .sorting_desc {
  background: url("../resources/images/sort_desc.png") no-repeat center right;
}
table.dataTable thead .sorting_asc_disabled {
  background: url("../resources/images/sort_asc_disabled.png") no-repeat center right;
}
table.dataTable thead .sorting_desc_disabled {
  background: url("../resources/images/sort_desc_disabled.png") no-repeat center right;
}

td.sorting_1
{
	background-color: hsl(0, 0%, 16%);
}

.dataTables_empty
{
	font-size: 1.5em;
}

#main_table_filter
{
	display:none;
}

.filterMatches{
    background-color: hsl(0, 0%, 30%);
}

/* --- SVG Icons --- */
.flaticon-plane19
{
	color: rgb(69, 66, 66);
}
input[type=checkbox].flaticon {
	display:none;
}
 
input[type=checkbox].flaticon + label,
.flaticon span
{
	color: gray;
	height: 16px;
	width: 16px;
	display:inline-block;
	padding: 0 0 0 0px;
	cursor:pointer;
}
.flaticon span
{
	margin: 0px 3px 0px 3px;
	vertical-align: center;
}
div.flaticon
{
	float:left; 
	position:absolute; 
	transform: scale(0.7, 0.7); 
	margin-top: 7px;
}
input[type=checkbox].flaticon:checked + label
{
	color:#8dc63f;
	height: 16px;
	width: 16px;
	display:inline-block;
	padding: 0 0 0 0px;
	cursor:pointer;
}
input[type=checkbox].flaticon + label:nth-of-type(2),
input[type=checkbox].flaticon:checked + label:nth-of-type(2)
{
	margin-left: 15px;
}