@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-size: 20px;
	font-style: normal;
}.flaticon-airport7:before {
	content: "\e000";
}
.flaticon-briefcase56:before {
	content: "\e001";
}
.flaticon-home62:before {
	content: "\e002";
}
.flaticon-house158:before {
	content: "\e003";
}
.flaticon-plane19:before {
	content: "\e004";
}
.flaticon-profile7:before {
	content: "\e005";
}
.flaticon-simple45:before {
	content: "\e006";
}
.flaticon-world29:before {
	content: "\e007";
}
